<main class="container">
  <header class="paymentHeader">
    <p>{{ payment }}</p>
    <button>Crear</button>
  </header>
  <nav class="paymentNavBarContainer">
    <ul class="paymentNavBar">
      <li class="paymentOptions" *ngFor="let i of options">
        <p class="notification noNotificacion">{{ i.label }}</p>
        <span
          [ngClass]="{
            notification: i.account > 0,
            noNotificacion: i.account == 0
          }"
          >{{ i.account }}</span
        >
      </li>
    </ul>
  </nav>
  <section class="paymentInformation">
    <div class="paymentBody">
      <div class="paymentContainer">
        <p>Total a pagar</p>
        <h1>{{ totalAmount | currency }}</h1>
        <p>Total pagos:</p>
      </div>
    </div>
    <div class="paymentBody">
      <div class="paymentContainer">
        <p>Por vencer en 7 dias</p>
        <h1>{{ expireSeven }} facturas</h1>
        <p>Hoy: {{ toExpireT }} facturas</p>
      </div>
    </div>
    <div class="paymentBody">
      <div class="paymentContainer">
        <p>Proveedor mayor monto</p>
        <h1>{{ supplierHigher }}</h1>
        <p>Total: {{ supplierHigherAmount | currency }}</p>
      </div>
    </div>
    <div class="payment-body">
      <div class="paymentContainer">
        <p>Categoria mas frecuente</p>
        <div *ngIf="category != undefined">
          <h1>{{ category[0]?.category }}</h1>
          <p>Frecuencia: {{ category[1] }}</p>
        </div>
      </div>
    </div>
  </section>
  <div class="divider"></div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          (change)="$event ? toggleAllRows() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
          [aria-label]="checkboxLabel()"
        ></mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)"
          [aria-label]="checkboxLabel(row)"
        >
        </mat-checkbox>
      </td>
    </ng-container>
    <ng-container matColumnDef="payment">
      <th mat-header-cell *matHeaderCellDef>Pago</th>
      <td mat-cell *matCellDef="let element">{{ element.payment }}</td>
    </ng-container>

    <ng-container matColumnDef="supplier">
      <th mat-header-cell *matHeaderCellDef>Proveedor</th>
      <td mat-cell *matCellDef="let element">{{ element.supplier }}</td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef>Categoria</th>
      <td mat-cell *matCellDef="let element">{{ element.category }}</td>
    </ng-container>

    <ng-container matColumnDef="expire">
      <th mat-header-cell *matHeaderCellDef>Vence</th>
      <td mat-cell *matCellDef="let element">{{ element.expire }}</td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Valor</th>
      <td mat-cell *matCellDef="let element">{{ element.price | currency }}</td>
    </ng-container>

    <ng-container matColumnDef="responsible">
      <th mat-header-cell *matHeaderCellDef>Responsable</th>
      <td mat-cell *matCellDef="let element">{{ element.responsible }}</td>
    </ng-container>

    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef>Estado</th>
      <td mat-cell *matCellDef="let element">{{ element.state }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="selection.toggle(row)"
    ></tr>
  </table>

  <mat-paginator
    [length]="200"
    [pageSizeOptions]="[5, 10, 50, 100]"
    aria-label="Select page"
  >
  </mat-paginator>
</main>
