:host {
  --title-text-color: #373d6f;
}

.sideBarContainer {
  display: flex;
  flex-flow: column;
  gap: 3rem;
  margin-top: 2rem;
  padding: 0.5rem;

  & .sideBarTitle {
    color: var(--title-text-color);
    padding: 1rem;
  }

  & .sideBarList {
    display: flex;
    flex-flow: column;
    list-style: none;
    padding: 0;
    gap: 1rem;

    & .sideBarOptions {
      padding: 1rem;
    }

    & .sideBarOptions:hover {
      background-color: #ece6fe;
      cursor: pointer;
      font-weight: bold;
    }
  }
}
