<aside class="sideBarContainer">
  <div class="side-bar-section">
    <h1 class="sideBarTitle">{{ title }}</h1>
    <ul class="sideBarList">
      <li class="sideBarOptions" *ngFor="let option of sideBarOption">
        <div>
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="{{ option.icon }}"
          ></mat-icon>
        </div>
        <div>
          <a routerLink="{{ option.url }}"> {{ option.label }}</a>
        </div>
      </li>
    </ul>
  </div>
  <section class="user-card">
    <div class="user-card-profile">D</div>
    <div class="user-card-user-name">
      <p>Daniel</p>
      <p>Factory Demo</p>
    </div>
  </section>
</aside>
